/* Font Styling */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* General Styling */
:root {
    --future: rgb(0, 255, 0);
    --future-odd: rgba(0, 168, 0, 0.35);
    --current: rgb(255, 166, 0);
    --current-odd: rgba(255, 168, 0, 0.35);
    --past: rgb(238, 130, 238);
    --past-odd: rgba(140, 0, 255, 0.35);
}

body{
   margin: 0;
   padding: 0;
   font-family: 'Montserrat', Helvetica, sans-serif;
   font-weight: 450;
   color: white;
}

main{
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.589);
    background-blend-mode: multiply;
    background-repeat: none;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    margin-bottom: 8px;
}

ol, ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s linear;
}

.button {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    border: 2px solid white;
}

.burger-icon {
    width: 36px;
}


/* Header */
header {
    background-color: mediumpurple;
    padding: 20px 0;
}

#header-misc {
    width: 100%;
    grid-row: 1/1;
}

#login {
    display: none;
    width: fit-content;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto 0;
}

.b1 {
    color: mediumpurple;
    background-color: white;
    border: none;
    margin-right: 20px;
}

#main-title{
    text-align: center;
    line-height: 36px;
    grid-row: 1/1;
}


/* Intro Section */
#intro {
    text-align: center;
    color: white;
    margin-bottom: 35px;
}

#intro p {
    line-height: 25px;
}

#intro p span {
    color: rgb(255, 0, 0);
    font-weight: bold;
    line-height: 5ch;
}

#task-form{
   width: 90%;
   margin: 25px auto 0;
   display: grid;
   grid-template-columns: 1fr 50px;
   align-items: center;
}
#task{
      display: block;
      height: 50px;
      padding-left: 20px;
      border: 1px solid #a5a5a5;
      font-size: 18px;
      grid-column: 1/3;
      grid-row: 1/1;
      border-radius: 40px;
   }
   #task-form input[type="submit"]{
      display: block;
      background-color: transparent;
      border: none;
      font-size: 50px;
      color: #626262;
      grid-column: 2/3;
      grid-row: 1/1;
      cursor: pointer;
      transition: all 0.5s linear;
   }
   #task-form input[type="submit"]:hover{
      color: mediumslateblue;
   }

/* Todo Lists */
.list {
    width: 85%;
    margin-inline: auto;
    border: 5px solid green;
    border-radius: 5px;
}

.list+.list {
    margin-top: 50px;
}

.list h3{
    line-height: 36px;
    padding-left: 10px;
    margin-bottom: 5px;
}

#future {
    border-color: var(--future);
}
    
#current {
    border-color: var(--current);
}
#past {
    border-color: var(--past);
}



.list-items {
    line-height: 30px;
    height: 265px;
    overflow-y: auto;
}
    .list-items li {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.5s linear;
        z-index: 2;
    }
        .list-items li input {
            display: block;
            width: 20px;
            margin-left: 10px;
        }
        .list-items li label {
            display: block;
            margin-left: 5px;
            width: 100%;
        }
        .list-items li:hover {
            color: rgb(182, 255, 255);
        }

/* specific list item color*/
#future .list-items li:nth-child(odd){
    background-color: var(--future-odd);
}
#current .list-items li:nth-child(odd){
    background-color: var(--current-odd);
}
#past .list-items li:nth-child(odd){
    background-color: var(--past-odd);
}


/* checked states of list */
.list-items input[type="checkbox"]:checked {
    pointer-events: none;
}

.list-items input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    pointer-events: none;
}

#future li:has(input[type="checkbox"]:checked){
    background-color: var(--current);
    animation: checkedout 0.5s linear 0.5s forwards;
}
#current li:has(input[type="checkbox"]:checked){
    background-color: var(--past);
    animation: checkedout 0.5s linear 0.5s forwards;
}
#past li:has(input[type="checkbox"]:checked){
    animation: checkedout 1.0s linear 0s forwards;
}


.list-items li:has(input[type="checkbox"]:checked)::after {
    display: block;
    margin-right: 5px;
    content: " 👏 ";
    text-decoration: none;
    font-size: 20px;
}

    /* animations */
@keyframes checkedout {
    0% {
        visibility: visible;
        opacity: 100%;
    }

    50% {
        visibility: hidden;
        opacity: 0%;
        transform: translateY(-50px);
    }

    100% {
        visibility: hidden;
        max-height: 0;
    }
}

/* Footer */
footer{
    background-color: mediumslateblue;
    padding: 30px 0;
}
#social-media{
   text-align: center;
   margin: 2px auto;
}
#social-media h2{
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 10px;
}

.sm-icons{
   display: flex;
   font-size: 28px;
   justify-content: space-evenly;
}

.sm-icons a:hover{
    color: cyan;
}

li.hide {
    visibility: hidden;
}


@media screen and (min-width: 768px) {
    #login {
        display: flex;
        margin-top: 0;
        grid-row: 1/1;
    }

    #task-form{
        width: 50%;
    }

    .list {
        width: 100%;
    }
    
    .list+.list {
        margin-top: 0;
    }
}
